<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ParkApp - Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="card-info ingresos">
          <p class="ion-text-center">Ingresos Hoy</p>
          <p class="ion-text-center"><strong>$120.000</strong></p>
        </div>
      </ion-col>

      <ion-col>
        <div class="card-info vehiculos">
          <p class="ion-text-center">Vehículos</p>
          <p class="ion-text-center"><strong>14</strong></p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="card-info ocupacion">
          <p class="ion-text-center">Ocupación</p>
          <p class="ion-text-center"><strong>45%</strong></p>
        </div>
      </ion-col>

      <ion-col>
        <div class="card-info tiempo">
          <p class="ion-text-center">Tiempo promedio</p>
          <p class="ion-text-center"><strong>1H:48M</strong></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <p style="margin-left: 22px; font-weight: 300; font-size: 18px;">Grafica de Ingresos</p>

  <div class="grafica">

    <div class="barra-container">
      <span class="valor">$120K</span>
      <div class="barra" style="--h: 48%;"></div>
      <span class="dia">Lun</span>
    </div>

    <div class="barra-container">
      <span class="valor">$250K</span>
      <div class="barra" style="--h: 100%;"></div>
      <span class="dia">Mar</span>
    </div>

    <div class="barra-container">
      <span class="valor">$180K</span>
      <div class="barra" style="--h: 72%;"></div>
      <span class="dia">Mié</span>
    </div>

    <div class="barra-container">
      <span class="valor">$90K</span>
      <div class="barra" style="--h: 36%;"></div>
      <span class="dia">Jue</span>
    </div>

    <div class="barra-container">
      <span class="valor">$210K</span>
      <div class="barra" style="--h: 84%;"></div>
      <span class="dia">Vie</span>
    </div>

  </div>

  <br>

  <!--Botones-->
  <ion-button expand="block" mode="ios" color="dark">
    Configurar Tarifa
  </ion-button>

  <ion-button expand="block" mode="ios" color="dark">
    Historial
  </ion-button>



</ion-content>
