<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabsmenu/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Configurar Tarifas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-note color="medium">
    Define el precio por hora de cada tipo de vehículo. Se aplicará automáticamente al registrar el ingreso.
  </ion-note>

  <ion-list>
    <ion-item>
      <ion-input
        type="number"
        label="Tarifa por hora - Carro"
        labelPlacement="stacked"
        [(ngModel)]="tarifaCarro">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        label="Tarifa por hora - Moto"
        labelPlacement="stacked"
        [(ngModel)]="tarifaMoto">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" (click)="guardar()">
    Guardar tarifas
  </ion-button>

</ion-content>
