<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-note color="medium"
    style="display:block; text-align:center; padding:14px; border:1px solid var(--ion-color-light-shade); border-radius:10px;">
    Espacios disponibles: {{ libresCount }} / {{ totalEspacios }}
  </ion-note>

  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col>
        <ion-button expand="block" mode="ios" color="dark" (click)="irAIngreso()">
          Ingreso
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" mode="ios" fill="outline" color="dark" (click)="irASalida()">
          Salida
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" mode="ios" fill="outline" color="dark" (click)="irAHistorial()">
    Ver historial
  </ion-button>

  <p style="margin-top: 16px; font-weight: 500;">Últimos registros</p>

  <ion-note color="medium" *ngIf="ultimos.length === 0">
    Aún no hay registros.
  </ion-note>

  <ion-list>
    <ion-item *ngFor="let r of ultimos">
      <ion-label>
        <h2>{{ r.placa }}</h2>
        <p>{{ r.tipoVehiculo }} · Espacio {{ r.espacio }}</p>
      </ion-label>
      <ion-note slot="end">{{ r.horaTexto }}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>