<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <!--Muestra los espacios disponibles-->
  <div class="contenedor_espacios">
    <p class="ion-text-center">
      Espacios Disponibles {{espacios}} : {{total_espacios}}
    </p>
  </div>
  <br>

  <!--Botones para Agregar y quitar vehiculos-->
  <ion-item lines="none">
    <div class="button-container">
      <ion-button expand="block" mode="ios" color="dark" size="large" routerLink="/registraringreso">
        Ingreso
      </ion-button>
      <ion-button expand="block" mode="ios" color="dark" size="large" fill="outline" routerLink="/registrarsalida">
         Salida
      </ion-button>
    </div>    
  </ion-item>

  <!--Lista de Vehiculos Ingresados al Parqueadero-->

  <div class="separador"></div>
  <ion-list>
    <ion-item-sliding *ngFor="let datos of vehiculos">
      <ion-item>
        <ion-label>{{datos.placaVehiculo}} <p>{{datos.tipoVehiculo}}</p></ion-label>
        <ion-note slot="end">{{datos.fechaIngreso}}</ion-note>
      </ion-item>

      <ion-item-options>
        
        <ion-item-option color="dark">Ver</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
