<ion-content [fullscreen]="true" class="bgapp">

  <div class="ion-padding">
    <div style="margin-top: 60px; width: 100%; height: 24px;"></div>

    <img src="assets/images/parkapp_logo.png" alt="ParkApp"
      style="display:block; margin:0 auto; width:160px; max-width:50%; border-radius:20px;">

    <h1 class="ion-text-center" style="font-weight: 600; font-size: 50px; color: aliceblue; margin: 12px 0 0;">
      ParkApp
    </h1>

    <p class="ion-text-center" style="font-weight: 400; font-size: 28px; color: aliceblue; margin-top: 16px;">
      Bienvenido
    </p>

    <div class="separador"></div>
    <ion-button expand="block" mode="ios" color="dark" routerLink="/login">
      Ingresar
    </ion-button>
  </div>

</ion-content>