<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-note color="medium">
    Espacios libres: {{ espaciosLibres.length }} de {{ totalEspacios }}
  </ion-note>

  <ion-list>
    <ion-item>
      <ion-input
        label="Placa"
        labelPlacement="stacked"
        placeholder="Ej: ABC123"
        [(ngModel)]="placa">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        label="Tipo de vehículo"
        labelPlacement="stacked"
        [(ngModel)]="tipoVehiculo">
        <ion-select-option value="Carro">Carro</ion-select-option>
        <ion-select-option value="Moto">Moto</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select
        label="Espacio"
        labelPlacement="stacked"
        placeholder="Selecciona un espacio libre"
        [(ngModel)]="espacio">
        <ion-select-option *ngFor="let e of espaciosLibres" [value]="e">
          Espacio {{ e }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-note color="medium" class="ion-margin-top" style="display: block;">
    Tarifa a aplicar: ${{ tarifaActual.toLocaleString('es-CO') }} / hora
  </ion-note>

  <ion-button expand="block" class="ion-margin-top" (click)="registrar()">
    Registrar ingreso
  </ion-button>

</ion-content>